assets/videos/background.mp4 filter=lfs diff=lfs merge=lfs -text
assets/videos/background.webm filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
/assets/fonts/NotoSansJP-VariableFont_wght filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
